.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer_inner_container {
    width: 70%;
    max-width: 1200px; 
    padding: 0 15px; 
}
.footer_icons {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #fff;

}

.footer_icons svg {
    font-size: 24px; 
}
.footer_data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 

}

.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto; 

    padding: 0; 
    margin: 0; 
}


.footer_data ul li {
    cursor: pointer;
    margin-bottom: 7px;
    font-size: 0.8rem; 

}


.footer_data ul li:hover {
    text-decoration: underline;
}


.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: grey 1px  solid;
    width: fit-content; 
    padding: 8px 15px; 
    margin: 20px 0;
    cursor: pointer;
    flex-basis: 100%; 
}
.service_code:hover{
    border-color: #fff;
}

.service_code p {
    font-size: 0.8rem;
    margin: 0;
}

.copy-write {
    font-size: 0.7rem;
    margin-bottom: 10px;
    margin-top: 15px;

}

@media (max-width: 768px) {
    .footer_inner_container{
      width: 95%;
    }
    .footer_icons{
        width: 25%;
    }
    .footer_data{
       gap: 10px;
    }
    .footer_data ul{
     width: 30%;

    }
}